._vip_services .slick-current .card, 
._vip_services .slick-current + .slick-active .card{
	margin-right: 30px; 
}

._vip_services .slick-current + .slick-active + .slick-active .card{
	margin-right: 3px; 
}

._vip_services .card{
    box-shadow: 0px 0px 60px #ffffff00;
}
